{%extends "base.html"%} {% block title%}About Bookey{%endblock%} {% block
    content%}
    
    <section class="container-about">
      <div style="font-size: 2rem; margin: 2rem 0; font-weight: 500; text-align:center">
        About Bookey.
      </div>
      <div class="show-products1">
        <div class="about_detail">
          <img
            class="about-img"
            src="https://a61a085359000702575d-1091780f292ed74c8a63cc6ff151398e.ssl.cf3.rackcdn.com/00004938-700x462.jpeg"
            
            alt="clothes images"
          />
        </div>
        <div class="about_detail">
          <h2>Who are we</h2>
          <p>
            Welcome to Bookey - where we bring you the ultimate online reading experience. 
            Bookey is not just an online bookstore, but also a passionate community of 
            book lovers, where everyone can explore thousands of books from various genres.
          </p><br>
          <p>
            Bookey, we believe that books are the gateway to knowledge and imagination. 
            We are committed to providing diversity and richness to readers by curating 
            outstanding works from top authors around the world. You can easily find everything 
            from classic masterpieces to the latest trends, from literature to science, 
            from business to self-help books.
        </div>
      </div>
      <div class="show-products">
        <div class="about_detail">
          <h2>Our Products</h2>
          <p>
            "Who We Do" is an integral part of the online book-selling platform 
            Bookey. Here, we focus on providing the highest quality products and 
            the most attentive service to our customers. Our mission is to offer 
            every reader a rich and diverse selection of books spanning various 
            genres including literature, business, science, and many more. We 
            take pride in building a passionate and creative reading community 
            where people can find inspiration and new knowledge every day. 
            With our commitment to diversity, quality, and convenience, we aim 
            to deliver the best online book shopping experience for all readers on Bookey.
          </p>          
        </div>
        <div class="about_detail">
          <img
            class="about-img"
            src="https://cdn.waterstones.com/images/00136893-960x650.jpeg"
            alt="clothes images"
          />
        </div>
      </div>
      <div class="container_fluid">
        <div class="fluid_content">
          <div class="icon_fluid"><p>"</p></div>
          <p>“Going out after work? Take your butane curling iron with you to the office, heat it up, style your hair before you leave the office and you won’t have to make a trip back home.”</p>
        </div>
        <div class="fluid_img_2">
            <img
            class="about-img-1"
            src="https://images.unsplash.com/photo-1615324606662-5d6d2ae148f0?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Ym9va3MlMjBjb2ZmZWV8ZW58MHx8MHx8fDA%3D"
            alt="clothes images"
          />
        </div>  
      </div>      
    </section>
    
    {% endblock %}
    